# created by virtualenv automatically
venv/

# PyCharm files
.idea/

/test/
/build/
/dist/
/.spec
/1.json
/New_GUI.spec
/test.py
/test_template.json
/test_template1.json
/transfer_to_json.py
/Общие параметры.docx
/rem.json
/venv3/
/venv1/
/GDAL-3.4.3-cp39-cp39-win_amd64.whl
/gdal-3.11.4-cp311-cp311-win_amd64.whl
